@import 'mixins';

.zone-name {
  color: $black;
  font-size: 14px;
  font-weight: bold;
}

.zone-link {
  color: $link-color;
  cursor: pointer;
  text-decoration: underline;
}

.zone-icon {
  display: inline-block;
  height: 14px;
  position: relative;
  top: 2px;
  width: 14px;
}

.zone-size {
  color: $muted;
  float: right;
  font-weight: normal;
}

.zone-summary {
  font-family: sans-serif;
  margin-top: 5px;
}

.mobile-infowindow--close {
  display: none;
}

.mobile-infowindow {;
  background: $white;
  bottom: 0;
  color: $footer-text-color;
  display: none; // Shown in _mobile.scss
  left: 0;
  margin: auto;
  opacity: 0;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  transition: opacity 500ms ease, transform 500ms ease;
  width: 100%;
  z-index: 101;

  &.show {
    opacity: 0.9;
    transform: translateY(0%);
  }

  .mobile-infowindow--header {
    @extend .lnyc-popup--header;
  }

  .zone-link {
    text-decoration: none;
  }

  .zone-summary {
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
    padding: 10px;
  }

  .zone-size {
    color: $devil-gray;
  }

  .mobile-infowindow--close {
    @extend .lnyc-popup--close;
  }
}
