@mixin clearfix {
  clear: both;
  &::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin prefix($prop, $val) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre}#{$prop}: #{$val};
  }
  #{$prop}: #{$val};
}

@mixin control_button($square: true) {
  background: rgba(238,238,238,0.9);
  border: solid 2px #AAAAAA;
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 4px;
  z-index: 2;
  @media screen and (min-width: 700px) {
    &:hover {
      background: rgba(221,221,221,0.9);
    }
  }
  @if ($square) {
    width: 35px;
    img {
      width: 25px;
      height: 25px;
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
}