$black: #000;
$button-background: #eee;
$button-outline: #888;
$button-color: #696969;
$button-invert-color: #ddd;
$control-color: #aaa;
$devil-gray: #666;
$error-background: #ec8787;
$error-color: #551313;
$footer-text-color: #333;
$link-color: #333;
$muted: #777;
$nav-background: rgba(200, 200, 200, .8);
$nav-border: #333;
$nav-hover: #ddd;
$polyfill-hover: #eee;
$white: #fff;

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@mixin prefix($prop, $val) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre}#{$prop}: #{$val};
  }
  #{$prop}: #{$val};
}

@mixin control-button($square: true) {
  background: rgba(238, 238, 238, .9);
  border: solid 2px $control-color;
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 4px;
  z-index: 2;

  @media screen and (min-width: 700px) {
    &:hover {
      background: rgba(221, 221, 221, .9);
    }
  }

  @if ($square) {
    width: 35px;

    img {
      height: 25px;
      left: 5px;
      position: relative;
      top: 5px;
      width: 25px;
    }
  }
}
