@import 'mixins';

@media screen and (max-width: 700px) {
  body {
    nav {
      box-sizing: border-box;
      left: 0;
      padding: 5px;
      top: 0;
      width: 100%;

      h1 { margin-bottom: 5px; }
    }

    form {
      @include clearfix;
      .search-wrapper {
        width: 80%;
        width: calc(100% - 55px);
      }

      input {
        font-size: 14px;
        height: inherit;
        line-height: inherit;
      }

      #reset_address {
        right: 60px;
        top: 5px;
      }

      button {
        height: 28px;
      }
    }

    .map-footer {
      display: none;
    }

    .mobile-footer {
      bottom: 20px;
      display: inline-block;
      left: 50%;
      margin: auto;
      position: absolute;
      transform: translateX(-50%);
      width: auto;
    }

    .mobile-menu-footer {
      bottom: 0;
      font-size: 15px;
      left: 0;
      padding: 15px;
      position: absolute;

      a {
        color: #100f0b;
      }
    }

    .mobile-app-links {
      display: none;
    }

    .play-store {
      margin-left: -10px;
    }
  }

  .borough-select:hover {
    background: $button-background !important;
  }

  //// Hide normal desktop infowindows.
  //.gm-style-iw.gm-style-iw-c {
  //  display: none;
  //}
  //.gm-style-iw-t::after {
  //  display: none;
  //}

  .mobile-infowindow {
    display: block !important;
  }

  #zoom_in,
  #zoom_out {
    display: none;
  }

  #mylocation {
    bottom: 20px !important;
  }

  #show_hide_zones {
    bottom: 64px !important;
  }

  .logo {
    margin-left: 42px;
  }

  .modal-content {
    max-width: 75% !important;
  }

  .mobile-hamburger-btn {
    background-color: transparent;
    float: none;
    height: 28px;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    top: 5px;

    .icon-bar {
      background: $button-outline;
      border-radius: 1px;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      width: 22px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .mobile-hamburger-menu {
    background: $button-background;
    height: 100%;
    left: 0;
    min-width: 75%;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease;
    z-index: 150;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 10px;
    }

    .mobile-hamburger-btn {
      border: 0;
      color: $button-outline;
      font-size: 25px;
      outline: none;
      top: 5px;

      &:focus {
        outline: none;
      }
    }

    .mobile-menu-title {
      margin: 15px 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .mobile-menu-item {
      margin-bottom: 10px;
      padding-left: 20px;

      input[type=radio] {
        margin-right: 5px;
        width: 25px;
        vertical-align: -8px;
      }
    }

    .mobile-menu-header {
      background: $nav-hover;
      padding: 5px 5px 1px 5px;
    }
  }

  .show-mobile-menu .mobile-hamburger-menu {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 800px) {
  .style-selectors {
    display: none;
  }
}
