@import 'mixins';
@import 'mobile';

.gm-style-iw ~ div {
  img {
    display: none;
  }

  &::after {
    background: url('images/close.png');
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

.gm-style-iw {
  // height: 100% !important;
  overflow: hidden !important;

  & > div {
    & > div {
      overflow: hidden !important;
    }
  }
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: sans-serif;
  overflow: hidden;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;

  input {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

#canvas {
  height: 100%;
  left: 0;
  line-height: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  background: $nav-background;
  border: solid 1px $nav-border;
  left: 20px;
  padding: 20px;
  position: absolute;
  top: 20px;
  width: 375px;
  z-index: 2;
}

.neighborhood-selector {
  display: table;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;

  span {
    background: $button-background;
    border-left: solid 3px $nav-background;
    border-right: solid 3px $nav-background;
    color: $button-color;
    cursor: pointer;
    display: table-cell;
    padding: 5px 0;
    text-align: center;

    &:hover {
      background: $nav-hover;
    }

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

header {
  h1 {
    cursor: default;
    font-family: 'Arvo', serif;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .site-description {
    color: $button-outline;
    font-size: 12px;
    position: absolute;
    visibility: hidden;
  }

  .site-keywords {
    position: absolute;
    visibility: hidden;
  }
}

#offline_notice {
  @include prefix(transition, opacity 2s);
  background: $error-background;
  color: $error-color;
  font-size: 14px;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  right: 5px;
  text-transform: uppercase;
  top: 7px;

  &.active {
    cursor: pointer;
    opacity: .7;
    pointer-events: initial;
  }
}

footer {
  background: rgba(250, 250, 250, 0.5);
  bottom: 0;
  color: $footer-text-color;
  font-size: 12px;
  left: 50%;
  padding: 3px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;

  a {
    color: $footer-text-color;
    text-decoration: none;
  }
}

.mobile-footer {
  display: none;
}

form {
  @include clearfix;
  display: block;
  position: relative;

  #reset_address {
    color: inherit;
    display: block;
    height: 18px;
    line-height: 20px;
    opacity: .5;
    position: absolute;
    right: 59px;
    text-align: center;
    text-decoration: none;
    top: 4px;
    width: 18px;
  }

  button {
    background-image: url('images/search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    color: $button-color;
    cursor: pointer;
    float: right;
    width: 50px;
  }
}

.search-wrapper {
  box-sizing: border-box;
  float: left;
  margin: 0 5px 0 0;
  position: relative;
  width: 320px;
  width: calc(100% - 55px);
}

#polyfill_select {
  background: $white;
  box-sizing: border-box;
  left: 0;
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  max-height: 128px;
  opacity: .9;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 28px;
  width: 100%;

  li {
    cursor: pointer;
    padding: 5px;

    &:hover {
      background: $polyfill-hover;
    }
  }
}

input {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  height: 26px;
  letter-spacing: .1em;
  line-height: 16px;
  margin: 0;
  padding: 6px 24px 6px 6px;
  width: 100%;

  &:required,
  &:invalid {
    box-shadow: none;
  }

  &:-moz-placeholder,
  &:focus {
    box-shadow: none !important;
  }
}

button {
  background-color: $button-background;
  border: 0;
  float: right;
  height: 26px;
  margin: 0;
  padding: 0;
}

input,
button {
  &:focus {
    outline: $button-outline auto 5px;
  }
}

.style-selectors {
  position: absolute;
  right: 20px;
  top: 22px;
  z-index: 2;

  span {
    background: rgba(238, 238, 238, .9);
    border: solid 2px $control-color;
    color: $control-color;
    cursor: pointer;
    font-size: 12px;
    margin-left: -10px;
    padding: 4px 10px 3px;
    right: 0;
    z-index: 2;

    &.selected {
      color: $button-color;
      font-weight: bold;
    }

    &:hover {
      background: rgba(221, 221, 221, .9);
    }
  }
}

#show_hide_zones {
  @include control-button;
  bottom: 99px;
  img { opacity: .7; }
}

#mylocation {
  @include control-button;
  bottom: 141px;
  img { opacity: .8; }
}

#zoom_out,
#zoom_in {
  @include control-button;

  img { opacity: .6; }

  &#zoom_in {
    bottom: 57px;
  }

  &#zoom_out {
    border-top: solid 2px $control-color;
    bottom: 20px;
  }
}

// social stuff
.app-store {
  background: url('images/app_store_badge.svg') no-repeat;
  background-size: contain;
  bottom: 65px;
  display: block;
  height: 30px;
  position: absolute;
  right: 50px;
  width: 101px;
  z-index: 100;
}

.play-store {
  bottom: 8px;
  display: block;
  position: absolute;
  right: 45px;
  z-index: 100;

  img {
    width: 140px;
  }
}

// infowindow stuff
.zone-name {
  color: $black;
  font-size: 14px;
  font-weight: bold;

  span {
    display: inline-block;
    height: 14px;
    position: relative;
    top: 2px;
    width: 14px;
  }

  a {
    color: $devil-gray;
    margin-left: 5px;
  }
}

.hidden {
  opacity: .5 !important;
}

.gm-style .gm-iw a:link {
  display: none;
}

.gm-photos {
  display: none;
}
