@import 'mixins';

$nav_background: rgba(200,200,200,0.8);

.gm-style-iw {
  height: 100% !important;
  overflow: hidden !important;
  & > div {
    & > div {
      overflow: hidden !important;
    }
  }
}

body {
  font-family: sans-serif;

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    line-height: 1em;
  }
  nav {
    background: $nav_background;
    border: solid 1px #333333;
    left: 20px;
    padding: 20px;
    position: absolute;
    top: 20px;
    width: 375px;
    z-index: 2;
    .neighborhood-selector {
      display: table;
      font-size: 12px;
      margin-top: 10px;
      width: 100%;
      span {
        background: #EEE;
        border-left: solid 3px $nav_background;
        border-right: solid 3px $nav_background;
        color: #696969;
        cursor: pointer;
        display: table-cell;
        padding: 5px 0;
        text-align: center;
        // @include prefix(transition,width 2s);
        &:hover {
          background: #DDD;
        }
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
  header {
    h1 {
      font-family: 'Arvo', serif;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  form {
    display: block;
    position: relative;
    @include clearfix;
    #reset_address {
      display: block;
      color: inherit;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 4px;
      right: 59px;
      opacity: 0.5;
      text-decoration: none;
      line-height: 20px;
      text-align: center;
    }
    button {
      background-image: url('images/search.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      color: #696969;
      cursor: pointer;
      float: right;
      width: 50px;
    }
  }
  input {
    width: 320px;
    width: calc(100% - 55px);
    height: 26px;
    line-height: 26px;
    border: none;
    box-sizing: border-box;
    margin: 0 5px 0 0;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 6px 24px 6px 6px;
    float: left;
  }

  button {
    background-color: #EEE;
    border: 0;
    float: right;
    height: 26px;
    margin: 0;
    padding: 0;
  }

  input, button {
    &:focus {
      // border: solid 2px #DDD;
      outline: #888 auto 5px;
    }
  }

  #show_hide_zones {
    @include control_button;
    bottom: 132px;
    img {
      opacity: 1.0;
    }
  }

  #mylocation {
    @include control_button;
    bottom: 92px;
  }

  #zoom_out, #zoom_in {
    @include control_button;
    &#zoom_in {
      bottom: 52px;
    }
    &#zoom_out {
      border-top: solid 2px #AAAAAA;
      bottom: 20px;
    }
  }

  // infowindow stuff
  .zone-name {
    font-weight: bold;
    font-size: 14px;
    color: black;
    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      position: relative;
      top: 2px;
    }
    a {
      margin-left: 2px;
      color: #666666;
    }
  }
  .gm-style-iw ~ div {
    img {
      display: none;
    }
    &::after {
      content: "";
      display: block;
      background: url('images/close.png');
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }

  .hidden {
    opacity: 0.5 !important;
  }
}

@media screen and (max-width: 700px) {
  body {
    nav {
      left: 0;
      top: 0;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      h1 { margin-bottom: 5px; }
    }
    form {
      @include clearfix;
      input {
        float: left;
        width: 80%;
        width: calc(100% - 55px);
        font-size: 14px;
        height: inherit;
        line-height: inherit;
      }
      #reset_address {
        right: 60px;
        top: 5px;
      }
      button {
        height: 28px;
      }
    }
    footer {
      display: none;
    }
  }
}
