!!!
%html
  %head
    %title locality.nyc - exploring the neighborhoods of New York City
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhmjsRow4-pvZUzsPdYtoS6hyGAu-HqfI&v=3.exp&sensor=true"}
    %script{src: "application.js"}
    %script{src: "data.js"}
    %link{href: "http://fonts.googleapis.com/css?family=Arvo", rel: "stylesheet", type: "text/css"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
    %link{rel: "shortcut icon", sizes: "16x16 32x32 96x96", href: "favicon.ico"}
    %link{rel: "apple-touch-icon", sizes: "57x57", href: "images/icons/apple-icon-57x57.png"}
    %link{rel: "apple-touch-icon-,precomposed", sizes: "57x57", href: "images/icons/apple-icon-precomposed.png"}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "images/icons/apple-icon-72x72.png"}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "images/icons/apple-icon-114x114.png"}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: "images/icons/apple-icon-120x120.png"}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: "images/icons/apple-icon-144x144.png"}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: "images/icons/apple-icon-152x152.png"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black-translucent"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %meta{name: "description", content: "Exploring the neighborhoods of New York City."}
  %body{itemscope: true, itemtype: 'http://schema.org/Map'}
    %nav
      %header
        %h1{itemprop: "name"} locality.nyc
        %div.site-description{itemprop: "description"} Exploring the neighborhoods of New York City
        %div.site-keywords{itemprop: "keywords"} new york city map nyc neighborhoods boundaries manhattan brooklyn queens the bronx staten island
        %div#offline_notice You Are Offline
      %form#find_address
        %input#address{placeholder: "Enter address, ZIP or neighborhood", required: true, list: "neighborhood_select"}
        %datalist#neighborhood_select
        %a#reset_address{href: "javascript:"}<
          &#10005;
        %button
      %div.neighborhood-selector
        %span.borough-select.push-state{'data-url' => 'manhattan', itemprop: 'keywords'} Manhattan
        %span.borough-select.push-state{'data-url' => 'brooklyn', itemprop: 'keywords'} Brooklyn
        %span.borough-select.push-state{'data-url' => 'queens', itemprop: 'keywords'} Queens
        %span.borough-select.push-state{'data-url' => 'bronx', itemprop: 'keywords'} The Bronx
        %span.borough-select{'data-url' => 'staten_island', itemprop: 'keywords'} Staten Island
    %section#info
    %section
      %div#show_hide_zones
        %img{src: "images/layers.png"}
      %div#mylocation
        %img{src: "images/mylocation.png"}
      %div
        %div#zoom_in
          %img{src: "images/plus.png"}
        %div#zoom_out
          %img{src: "images/minus.png"}
    %section.style-selectors
      %span.variation-btn.selected{"data-variation" => 'pale_dawn'} Pale Dawn
      %span.variation-btn{"data-variation" => 'greyscale'} Greyscale
      %span.variation-btn{"data-variation" => 'old_map'} Old map
      %span.variation-btn{"data-variation" => 'retro'} Retro
      %span.variation-btn{"data-variation" => 'default'} Normal
    %footer{role: "contentinfo", itemscope: true, itemtype: "http://schema.org/WPFooter"}
      Copyright &copy; 2014-2015 MusikAnimal
    %main
      %div#canvas
    :javascript
      try {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = 'cordova.js';
        head.appendChild(script);

        app.initialize();
        script.src = 'init.js';
        head.appendChild(script);

        $("body").on("click", "a", function(e) {
          var href = $(this).attr("href");
          if(href.match(/^http/) || mobileCheck()) {
            window.open(href, "_system");
            e.preventDefault();
            return false;
          }
        });
      } catch(e) {
        $.noop();
      }
