!!!
%html
  %head
    %title locality.nyc
    %script{src: "jquery.min.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhmjsRow4-pvZUzsPdYtoS6hyGAu-HqfI&v=3.exp&sensor=true"}
    %script{src: "nyc-zone-data/neighborhoods.js"}
    %script{src: "application.js"}
    %script{src: "cordova.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
  %body
    %section#controls
      %header
        %h1 locality.nyc
        %form#find_address
          %input#address{type: "text", placeholder: "Enter an address", required: true}
          %a#reset_address{href: "javascript:"}<
            &#10005;
          %button
      %div#info
      %div#show_hide_zones
        %img{src: "images/layers.png"}
      %div#mylocation
        %img{src: "images/mylocation.png"}
    %footer
    %main
      %div#canvas
    :javascript
      try {
        app.initialize();
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = 'cordova.js';
        head.appendChild(script);
        script.src = 'init.js';
        head.appendChild(script);

        $("body").on("click", "a", function(e) {
          var href = $(this).attr("href");
          if(href.match(/^http/) || mobileCheck()) {
            window.open(href, "_system");
            e.preventDefault();
            return false;
          }
        });
      } catch(e) {
        console.log("no cordova this time, people");
      }
